<main class="usersList">
    <table class="users-list-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th colspan="3">Profession</th>
            </tr>
        </thead>
        <tbody>
    
            <% for( let row of usersData) { %> 
            <tr>
                <td> <%= row.id%> </td>
                <td> <%= row.name%> </td>
                <td> <%= row.profession%> </td>
                <td class="update-user-btn" > <a href="/users/<%= row.id %>">Update</a> </td>
                <td class="delete-user-btn"> <a class='deleteUser' id='deleteUser<%=row.id%>' href="">Delete</a> </td>
            </tr>
            <% } %>
            
        </tbody>
    </table>
</main>

<!--
    <script>
    let successMsgDiv = document.getElementsByClassName('successMsg')[0];
    setTimeout( () => {
        successMsgDiv.classList.add('hide')
    }, 3000)

</script> 

-->